<form method=POST action='/articles'>
    <label>Title:</label>
    <input type="text" name="title">
    <label>Content:</label>
    <input type="text" name="content">
    <input type="submit">
</form>