<form method="POST" action = "/create">
  <label for="title">Enter title here:</label><input type="text" id="title" name="title">
  <label for="content">Enter content here:</label><input type="text" id="content" name="content">
  <input type="submit" name="submit">Submit Article</input>
</form>
