<h1>Enter the article information here</h1>
<form method='post' action='/articles'>
    Title: <input id='title' type='text' name='article[title]'><br>
    Content: <input id='content' type='text' name = 'article[content]'><br>
    <input type="submit" id="submit" value="Submit">
</form>